
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ice-cream-slider-item:not(.ice-cream-slider-item-current) { /*Temporary*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  color: #565C66;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 1170px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.button {
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #2D3440;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #FCFCFC;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
}

.button-ordinary:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button-ordinary:focus {
  background: rgba(252, 252, 252, 0.5);
  outline-offset: -0.01px;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-ordinary:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button.button-action {
  background-color: #FF2F64;
  color: #FCFCFC;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.button-action:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button-action:focus {
  background: rgba(252, 252, 252, 0.5);
  outline-offset: -0.01px;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-action:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-action:disabled {
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  box-shadow: none;
  font-weight: 400;
  color: #565C66;
}

.button.button-filter-submit {
  min-width: 185px;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  outline: 2px solid #FCFCFC;
  box-shadow: none;
  padding: 8px 32px;
}

.button-filter-submit:hover {
  background-color: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.button-filter-submit:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

.button-filter-submit:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.button-filter-submit:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  outline: 2px solid #FCFCFC;
}

.button-buy {
  position: relative;
  display: inline-block;
  cursor: pointer;
  min-width: 32px;
  min-height: 32px;
  background-color: #FF2F64;
  border-radius: 26px;
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.buy-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FCFCFC;
}

.button-buy:hover {
  background-color: rgba(252, 252, 252, 0.3);
}

.button-buy:hover .buy-icon{
  fill: #242424;
}

.button-buy:focus {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
}

.button-buy:focus .buy-icon{
  fill: #FCFCFC;
}

.button-buy:active {
  background-color: #FFCBD8;
  outline: 2px solid #FF2F64;
}

.button-buy:active .buy-icon{
  fill: #2D3440;
}

.ice-cream-slider-button {
  display:block;
  line-height: 0;
  padding: 0 17.5px;
  position: relative;
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.ice-cream-slider-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -5px;
  width: 6px;
  height: 6px;
  border-top: 1.4px solid #FCFCFC;
  border-right: 1.4px solid #FCFCFC;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  border-bottom-right-radius: 1px;
  transform: rotate(45deg);
}

.ice-cream-slider-left {
  transform: rotate(180deg);
}

.ice-cream-slider-button:hover::before {
  border-color: #2D3440;
}

.ice-cream-slider-button:hover {
  background-color: #FCFCFC;
}

.ice-cream-slider-button:focus::before {
  border-color: #2D3440;
}

.ice-cream-slider-button:focus {
  outline: none;
  background: rgba(252, 252, 252, 0.3);
  border-color: #2D3440;
}

.ice-cream-slider-button:active::before {
  border-color: #2D3440;
}

.ice-cream-slider-button:active {
  background: rgba(252, 252, 252, 0.5);
  border-color: rgba(252, 252, 252, 0);
}

.form-field {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  height: 48px;
  padding: 0;
  padding-left: 16px;
}

.form-field::placeholder {
  color: #B9B9B9;
}

.form-field:hover {
  border-color: #2D3440;
}

.form-field:focus {
  padding-left: 15px;
  border: 2px solid #2D3440;
}

.form-field:disabled {
  color: #2D3440;
  background-color: #E7E7E7;
  border-color: #B9B9B9;
}

.form-field:disabled::placeholder {
  color: rgb(45, 52, 64, 0.65);
}

.form-field:disabled:hover {
  color: #2D3440;
  background-color: #E7E7E7;
  border-color: #B9B9B9;
}

.form-field:disabled:hover::placeholder {
  color: rgb(45, 52, 64, 1);
}

.form-field:invalid {
  border-color:#EA5454;
  background-color: #FFFFFF;
  color: #2D3440;
}

.form-field:invalid:placeholder-shown {
  border: 1px solid #B9B9B9;
}

.form-field:hover:invalid:not(:placeholder-shown) {
  padding-left: 15px;
  border: 2px solid #EA5454;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
}

.social-icon rect {
  stroke: rgba(252, 252, 252, 0.3);
}

.social-link:hover circle {
  fill: #2D3440;
}

.social-link:hover rect {
  stroke: rgba(252, 252, 252, 0.5);
}

.social-link:focus {
  outline: none;
}

.social-link:focus circle {
  fill: #2D3440;
}

.social-link:focus rect {
  stroke: #2D3440;
}

.social-link:active .social-icon {
  opacity: 0.5;
}

.social-link:active circle {
  fill: #2D3440;
}

.social-link:active rect {
  stroke: rgba(252, 252, 252, 0.5);
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 575px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 56px;
}

.navigation-link {
  position: relative;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: #2D3440;
  text-decoration: none;
  padding: 8px 16px;
  display: block;
  border-radius: 30px;
}

.navigation-link-logo {
  display: block;
  padding-right: 16px;
}

.navigation-link-logo .logo-icon {
  display: block;
}

.navigation-link.catalog {
  padding-right: 38px;
}

.catalog .navigation-icon {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  left: auto;
  margin: auto;
}

.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.navigation-link:active {
  background: #FCFCFC;
}

.navigation-user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 56px;
  gap: 16px;
}

.navigation-user-link {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2D3440;
  text-decoration: none;
  padding: 6px 16px;
  padding-left: 38px;
  display: block;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  position: relative;
}

.navigation-user-phone {
  margin: 0;
  margin-right: 1px;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  background: none;
  border-radius: unset;
}

.navigation-user-link.search {
  padding: 16px;
}

.navigation-user-icon {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 16px;
  margin: auto 0;
}

.search .navigation-user-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-user-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-user-link:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.navigation-user-link:active {
  background: #FCFCFC;
}

 .ice-cream-slider {
  width: 1170px;
  margin-bottom: 82px;
  display: flex;
  flex-wrap: wrap;
 }

 .slider-left-side-container {
  box-sizing: border-box;
  width: 540px;
  padding-top: 136px;
  padding-left: 70px;
  padding-right: 41px;
 }

 .slider-right-side-container {
  box-sizing: border-box;
  position: relative;
  width: 352px;
  height: 528px;
  padding-top: 21px;
  padding-right: 0;
 }

 .slider-back-image-container {
  box-sizing: border-box;
  position: relative;
  opacity: 0.4;
  flex-grow: 0;
  padding: 0;
  width: 100px;
  height: 150px;
  margin-top: 206px;
  margin-left: 33px;
 }

 .slider-back-image-container + .slider-back-image-container {
  margin-left: 40px;
 }

 .slider-back-image-container::before {
  position: absolute;
  z-index: 0;
  content: "";
  display: block;
  background-color: #FFCBD8;
  width: 100px;
  height: 100px;
  top: 16%;
  left: 6%;
  border-radius: 200px;
 }

 .slider-controls {
  position: absolute;
  top: 52.5%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding-left: 1px;
 }

 .slider-image {
  position: relative;
  display: block;
  margin-left: 21px;
  z-index: 1;
 }

 .slider-back-image {
  position: relative;
  display: block;
  z-index: 1;
  margin-left: 11px;
 }

 .slider-right-side-container::before {
  position: absolute;
  z-index: 0;
  content: "";
  display: block;
  background-color: #FFCBD8;
  width: 312px;
  height: 312px;
  top: 23%;
  left: 6%;
  border-radius: 200px;
 }

.bottom-slider-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

 .ice-cream-slider-item-name {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
}

.ice-cream-slider-item-description {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  max-width: 470px;
}

.ice-cream-slider-pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}

 .ice-cream-slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ice-cream-slider-item {
  display: flex;
  justify-content:flex-start;
}

.ice-cream-slider-pagination {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.ice-cream-slider-pagination-button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: rgb(252, 252, 252, 0.3);
  outline: none;
}

.ice-cream-slider-pagination-current {
  background-color: #FCFCFC;
}

.ice-cream-slider-pagination-button:hover {
  border: 1px solid #FCFCFC;
}

.ice-cream-slider-pagination-button:focus {
  border: 1px solid #2D3440;
}

.ice-cream-slider-pagination-button:active {
  background-color: rgb(252, 252, 252, 0.5);
}

.ice-cream-slider-social-list {
  list-style: none;
  max-width: 40%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.gifts {
  display: flex;
  width: 1170px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}

.gifts-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
  max-width: 434px;
}

.gifts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
}

.gifts-item {
  box-sizing: border-box;
  background-color: #FF7799;
  border-radius: 16px;
  width: 570px;
  min-height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 36px;
  background-repeat: no-repeat;
}

.gifts-item:nth-child(1) {
  background-image: url("../img/promo-raspberry.png");
  background-position: 359px 26px; /*96%*/
  background-size: 34.5%;
}

.gifts-item:nth-child(2) {
  background-image: url("../img/promo-marshmallow.png");
  background-position: 355px 26px; /*96%*/
  background-size: 40%;
}

.gifts-item-name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 28px;
}

.gifts-item-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  width: 328px;
  margin: 0;
  margin-bottom: 28px;
}

.goods {
  width: 1170px;
  margin-bottom: 80px;
}

.goods-item-link {
  text-decoration: none;
}

.goods-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.goods-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 1170px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.goods-item {
  position: relative;
  background-color: #FCFCFC;
  border-radius: 8px;
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 133px;
}

.goods-image {
  position: absolute;
  top: -51px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 168px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.goods-item-name {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-align: center;
  margin-bottom: 8px;
}

.goods-item-description {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  text-align: center;
  margin-bottom: auto;
}

.goods-item-price-buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.goods-item-price {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}



/* .main-about, .news, .newsletter, .delivery-order, .contacts   { ?????
  background-color: #ffffff;
  color: #000000;
 } */

.main-about {
  margin-bottom: 80px;
  border-radius: 16px;
  padding: 24px;
  background-image: url("../img/waffer-full.jpg");
}

.main-about-container {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 56px 40px;
}

.main-about-definition {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.main-about-advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 505px);
  gap: 40px 32px;
}

.main-about-advantages-item {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 48px 48px;
}

.main-about-advantages-item:nth-child(1) {
  background-image: url("../img/ice-cream-black.svg");
}

.main-about-advantages-item:nth-child(2) {
  background-image: url("../img/cow-black.svg");
}

.main-about-advantages-item:nth-child(3) {
  background-image: url("../img/leaf-black.svg");
}

.main-about-advantages-item:nth-child(4) {
  background-image: url("../img/thermometer-black.svg");
}

.main-about-advantages-description {
  margin: 0;
  padding: 0;
  padding-left: 64px;
}

.news-columns-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news {
  background-image: url("../img/three-round-ice-creams.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 570px;
  min-height: 224px;
  padding: 32px;
  box-sizing: border-box;
 }

.news-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 12px;
}

.news-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
}

.newsletter {
  background-image: url("../img/white-space-with-linear-border.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 570px;
  border-radius: 16px;
  padding: 32px;
  box-sizing: border-box;
 }

.newsletter-proposal {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  max-width: 506px;
  margin: 0;
  margin-bottom: 42px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-email {
  width: 312px;
}

.delivery-order {
  background-image: url("../img/ice-cream-and-fruits-on-a-desk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1170px;
  min-height: 534px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 64px;
  padding-left: 100px;
  display: flex;
  column-gap: 130px;
  margin-bottom: 80px;
 }

 .delivery-proposal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .delivery-order-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-top: 3px; /*empirically*/
  margin-bottom: 24px;
 }

.delivery-order-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
}

 .delivery-order-form {
  background-color: white; /*Temporary*/
  min-width: 500px;
  height: 406px;
 }

 .contacts {
  background-image: url("../img/three-ice-creams-in-holder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1170px;
  height: 492px;
  border-radius: 16px;
  padding: 64px;
  display: flex;
  justify-content: start;
  box-sizing: border-box;
 }

.contacts-container {
  background-color: #FCFCFC;
  box-sizing: border-box;
  width: 343px;
  padding: 40px;
  border-radius: 8px;
}

.contacts-address {
  font-style: normal;
}

.contacts-subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
}

.contacts-phone {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.contacts-schedule {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 32px;
}

.page-footer-container {
  width: 1170px;
  display: flex;
  margin: 0 auto;
  padding: 48px 0;
}

.page-footer-container:not(.no-breaker) {
  box-shadow: 0 -1px 0 rgba(252, 252, 252, 0.3);
}

.footer-social {
  max-width: 104px;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 30px;
}

.footer-links {
  margin-left: 302px;
  max-width: 356px;
}

.footer-links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  display: grid;
  grid-template-columns: minmax(max-content, 50%) minmax(max-content, 50%);
  grid-template-rows: repeat(auto-fill, max-content);
  row-gap: 7px;
  column-gap: 24px;

}

.footer-link {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-links-item {
  position: relative;
}

.footer-link.contractor {
  font-weight: 700;
}

.contractor::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  bottom: 0;
  left: -24px;
  background-image: url("../img/heart-fill-black.svg");
}

.made-in {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 14px;
  max-width: 193px;
}

.made-in-link {
  display: block;
  width: 93px;
  margin-bottom: 10px;
}

.made-in-text {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.htmlacademy-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

/*Catalog*/

.inner-header {
  margin-top: 31px;
  margin-bottom: 40px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 25%;
  right: -65%;
  width: 28px;
  height: 28px;
  background-image: url("../img/chevrons-right.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.inner-header-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
}

.filter {
  display: flex;
  width: 823px;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.filter-sort-select, .filter-price-scaler, .fat-level-list, .filter-fillers-options {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.filter-sort, .filter-price, .filter-fat-level, .filter-fillers {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  border: none;
  padding: 0;
  margin: 0;
}

.filter-sort {
  width: 196px;
}

.filter-price {
  width: 196px;
}

.filter-fat-level {
  width: 383px;
}

.filter-fillers {
  width: 604px;
}

.product {
  margin-bottom: 40px;
}

.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 40px;
  margin: 0;
  padding: 0;
  width: 1170px;
  margin-bottom: 16px;
}

.product-card {
  position: relative;
  background-color: #FCFCFC;
  border-radius: 8px;
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 133px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-image {
  position: absolute;
  top: -51px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 168px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.product-card-title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-align: center;
  margin-bottom: 8px;
}

.product-card-description {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  text-align: center;
  margin-bottom: auto;
}

.card-price-buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.product-card-price {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.pagination-container {
  display: flex;
  margin: 0 auto;
  width: 1170px;
  padding: 41px 0;
}

.pagination-show-more {
  margin-left: 489px;
}

.pagination {
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
  display: flex;
  align-items: center;
  max-width: 168px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  text-align: center;
  width: 24px;
  height: 24px;
  padding: 2px 6px 8px;
  border-radius: 50px;
}

.pagination-link:not(.pagination-prev, .pagination-next):hover {
  background: rgba(252, 252, 252, 0.5);
}

.pagination-link:not(.pagination-prev, .pagination-next):focus {
  background: rgba(252, 252, 252, 0.3);
  outline-offset: -1px;
  outline: 1px solid #2D3440;
}

.pagination-link:not(.pagination-prev, .pagination-next):active {
  background: rgba(252, 252, 252, 0.5);
  outline-offset: -1px;
  outline: 1px solid #FCFCFC;
}

.pagination-prev svg, .pagination-next svg {
  padding: 4px 0;
}

.pagination-prev {
  padding: 0;
  text-align: start;
}

.pagination-next {
  padding: 0;
  text-align: end;
}

.pagination-current {
  background-color: #FCFCFC;
}

/*Catalog end*/
